{% extends 'base.html.twig' %}

{% block title %}Mes informations {% endblock %}

{% block content %}
<br>
<a href="{{ path('app_account') }}">
    <img id='redirection' src="{{ asset('assets/img/fleche-droite.png')}}" alt="retour">
</a>
<center><h1 class="mt-2 ms-2"> Mes informations</h1></center>
<br>

<div class="d-flex justify-content-center">
    <div class="col-md-6 border rounded p-4 bg-white">
        
    
        {{ form(form) }}
        
        
        <a href="{{ path('app_information_edit') }}"><div class="btn btn-dark float-end">Modifier mes informations</div></a>
 
    </div>
</div>
{% endblock %}
