{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Mon P'tit Matin{% endblock %}

{% block content %} 
<br>
<a href="{{ path('app_account') }}">
    <img id='redirection' src="{{ asset('assets/img/fleche-droite.png')}}" alt="retour">
</a>
<br>
<h1 class="text-center">Modifier mon mot de passe</h1>
<br>


<div class="d-flex justify-content-center">
    <div class="col-md-6 border rounded p-4 bg-white">
        
       
    

        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}

        {{ form(form) }}

    </div>
</div>
<br>
{% endblock %}
