{% extends 'base.html.twig' %}

{% block content %}
<div class="homeimagefond"></div>
    <div class="homeimage">
        <h1 class="offre with-shadow">Bienvenue chez mon p'tit matin</h1>
        <a href="{{ path('app_product') }}" class="profiter">J'en profite</a>
    </div>

    <div class="row mt-5 mb-5 text-center">
        <div class="col">
            <img src="{{ asset('assets/img/agricultrice.png')}}" alt="Une agricultrice" class="agricultrice">
        </div>
        <div class="col my-auto">
           <p class="text-agricultrice">
    Nous travaillons en étroite collaboration avec les <strong>producteurs locaux</strong> et les soutenons pleinement. En favorisant les produits locaux, nous stimulons l'économie locale, promouvons le<strong> développement durable</strong>  et préservons les savoir-faire traditionnels. Mettant en avant les produits locaux, nous nous engageons à offrir à nos clients des produits de haute qualité tout en encourageant une communauté économique solidaire et prospère.
</p>

        </div>
    </div>

<div class="min">
    <h2>Minimun de commande 10 €</h2>
    </div>
    <br>

    <center><strong>Pour les particulers : Nous livrons dans l'agglométation de Saint-Omer et ses alentours</strong>
    <br>
   <li>Arques<li>Saint Omer <li>Blendecques <li>Longuenesse <li>Tilques <li>Wizernes <li>Esquerdes <li>Saint-Martin-au-Laërt <li>Hallines <li>Helfaut <li>Saint-Momelin
   <br>
   <br>
   <strong>Pour les entreprises et évènements: Nous livrons une grande partie du Pas De Calais</strong>
<br>
   <p>Pour toute autre ville, n'hésitez pas à nous contacter au</p>
   <h3 class="numero">07 68 87 93 08</h3>
   </center>

{% endblock %}
