{% extends 'base.html.twig' %}

{% block title %}Compte supprimer - Mon P'tit Matin{% endblock %}

{% block content %}
<br><br><br>
 <center><h1>Votre compte a bien été supprimer</h1>
 <br>
 <a class="btn btn-dark mb-5" href="{{ path('app_home') }}">Cliquez ici pour revenir à l'accueil</a></center>

{% endblock %}
