{% extends 'base.html.twig' %}

{% block title %}FAQ - Mon P'tit Matin{% endblock %}

{% block content %}
<div style="margin-left: 45px; margin-right: 45px;"> 

<br>
<center><h2>Foire aux Questions</h2>
<hr>

Bienvenue dans notre foire aux questions <br>
Vous cherchez une information ? Une question resté sans réponse ? Regardez ici, vous y trouverez certainement votre bonheur. <br>
</center>
<br><br>
<strong>Puis-je annuler une commande déjà payée ?</strong><br>
Oui, vous avez la possibilité d'annuler votre commande par téléphone en appelant le numéro précisé sur votre mail de confirmation de commande dans un délai de 15 min à compter de la passation de la commande. <br>
<br>

<strong>Existe t'il des restaurants Au P'tit Matin ?</strong><br>
Non, il n'existe aucun restaurant Au P'tit Matin. <br>
<br>

<strong>Nos produits sont-ils tous Bio ?</strong><br>
Oui, tous nos produits sont Bio. <br>
<br>

<strong>Est-il possible de commander à l'avance ?</strong><br>
Oui, vous pouvez commander à l'avance par téléphone ou sur notre site internet. <br>
<br>

<strong>Ou puis-je trouver les adresses et activités de vos partenaires</strong><br>
Vous pouvez retrouer toutes les adresses de nos partenaires dans l'onglet, "Nos partenaires", ainsi que leurs activités. <br>
<br>

<strong>Ou puis m'adresser en cas de problème avec ma commande ?</strong><br>
Vous pouvez appeler au 07 68 87 93 08.
Pour toutes réclamations et réserves, elles devront être portées à notre connaissance sous 8 jours accompagnées obligatoirement du bon de commande par e-mail à l'adresse : contact@monptitmatin.fr. <br>
Aucun produit ne sera repris, ni échangé.
</div>


{% endblock %}
