{% extends 'base.html.twig' %}

{% block title %}Inscription - Mon P'tit Matin{% endblock %}

{% block content %}
<br>
<center><h1>Inscription</h1></center>
<br>

<div class="formRegister d-flex justify-content-center mb-5">
    <div class="col-md-6 border rounded-4 registerB bg-white">
        {% if notification %}
            <div class="alert alert-info">
                {{ notification }}
            </div>
        {% endif %}

        {{ form(form) }}
    </div>
</div>
{% endblock %}
